* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-gray-red: hsl(0, 6%, 24%);
  --linear-soft: linear-gradient(
    135deg,
    hsl(0, 0%, 100%) 0%,
    hsl(0, 100%, 98%) 100%
  );
  --linear-red: linear-gradient(
    135deg,
    hsl(0, 80%, 86%) 0%,
    hsl(0, 74%, 74%) 100%
  );
}
section {
  height: 100vh;
  width: 100%;
  background: var(--linear-soft);
  display: flex;
  justify-content: space-between;
  object-fit: cover;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
}
.background-image {
  position: absolute;
  background-image: url(./images/bg-pattern-desktop.svg);
  height: 100%;
  width: 100%;
}
.container {
  max-width: 444px;
  margin-left: 167px;
  margin-top: 66px;
  z-index: 1;
}
.logo {
  margin-bottom: 129px;
}
h1 {
  font-weight: 600;
  font-size: 65px;
  color: var(--dark-gray-red);
  margin-bottom: 24px;
  text-transform: uppercase;
  letter-spacing: 16px;
  line-height: 67px;
}
h1 span {
  font-weight: 300;
  color: var(--desaturated-red);
}
.container-info {
  margin-bottom: 36px;
  color: var(--desaturated-red);
  font-weight: 400;
  line-height: 30px;
}
form {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
form input {
  position: absolute;
  width: 100%;
  height: 56px;
  border-radius: 100px;
  border-color: hsla(0, 6%, 24%, 0.397);
  border-width: 1px;
  padding-left: 34px;
}
.error {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 10;
  top: 50%;
  right: 126px;
  transform: translate(50%, -50%);
}
.error-message {
  position: absolute;
  top: 66px;
  left: 34px;
  color: var(--soft-red);
  font-weight: 400;
  opacity: 0;
  transition: all ease 0.2s;
}
form input:valid ~ .error {
  visibility: hidden;
}
form input:invalid ~ .error {
  visibility: visible;
}
form input:valid ~ .error-message {
  opacity: 0;
}
form input:invalid ~ .error-message {
  opacity: 1;
}
form input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0, 36%, 70%);
  font-weight: 400;
}

form button {
  background: var(--linear-red);
  width: 102px;
  border-radius: 100px;
  border-style: solid;
  border: none;
  z-index: 2;
}

.hero {
  z-index: 20;
}
@media (max-width: 1160px) {
  section {
    flex-direction: column-reverse;
    justify-content: start;
    align-items: flex-start;
  }
  .hero {
    position: absolute;
    width: 100%;
    height: 375px;
    top: 80px;
    object-fit: cover;
    object-position: top;
  }
  .container {
    margin: 32px;
  }
  .logo {
    margin-bottom: 500px;
  }
}
